html {
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-overflow-scrolling: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: normal 0.8em 'trebuchet ms', arial, sans-serif;
  background: transparent;
  color: #777;
  min-height: 100%;
  height: 100%;
  -webkit-overflow-scrolling: auto;
}

img {
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: normal 175% 'century gothic', arial, sans-serif;
  color: #43423f;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
}

h2 {
  font: normal 175% 'century gothic', arial, sans-serif;
  color: #a4aa04;
}

div {
  box-sizing: border-box;
}

a,
a:hover {
  outline: none;
  text-decoration: none;
  color: #1293ee;
}

a:hover {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

select {
  border: none;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
}